<!DOCTYPE html>
<html lang='en'>
  <head>
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <link rel='stylesheet' href='../../css/styles.css' />
  </head>
  <body>
    <div class='container purple'>
      <h1 class='self_center white_txt'>{{message}}</h1>
      <a class='self_center' href='http://localhost:3000/login'>
        <button>Return</button></button></a>
    </div>
  </body>
</html>
